.options {
  height: 152px;
  overflow: auto;
  span {
    margin-top: 10px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;

    color: #ee3d48;
    border-bottom: 2px solid #ee3d48;
  }
  .options__price {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #ee3d48;
  }
  .options__list {
  }
  .options__info {
    padding: 5px;
    position: relative;
    flex-grow: 1;
  }
  .options__item {
    display: flex;
    height: 76px;
    background: #fafafa;
    border: 1px solid #ebebeb;
    margin: 0;
    img {
      padding: 5px;
      width: 60px;
      height: 60px;
    }
  }
}
.check {
  &__inp {
    -webkit-appearance: none;
  }
  &__sp {
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid #ee3d48;
    border-radius: 2px;
    position: absolute;
    right: 15px;
    top: 15px;
    img {
      display: none;
    }
  }
  &__inp:checked + &__sp {
    img {
      display: block;
    }
    background-color: #ee3d48;
  }
}
