.options {
  span {
    margin-top: 10px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;

    color: #ee3d48;
    border-bottom: 2px solid #ee3d48;
  }
}
