.news {
  padding: 15px 0;
  margin-top: 45px;
  &__button {
    margin: 15px 0;
    width: 100%;
    height: 40px;
    background-color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #ee3d48;
    border: 1px solid #ee3d48;
    border-radius: 6px;
  }
}

.one {
  margin-top: 20px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  img {
    width: 100%;
  }
  &__box {
    padding: 15px;
    background: #fafafa;
    height: 150px;
  }
  &__subtitle {
    color: #ee3d48;
  }
  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
  }
  &__body {
    padding: 10px 0;
  }
  &__data {
    font-size: 12px;
    line-height: 14px;
    color: #6a6a6a;
  }
}
