.news {
  padding: 15px 0;
  margin-top: 45px;
  &__button {
    margin: 15px 0;
    width: 100%;
    height: 40px;
    background-color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #ee3d48;
    border: 1px solid #ee3d48;
    border-radius: 6px;
  }
}
